.block_7 {
  background: url('../../img/block_7/background.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  height: 840px;
  padding-top: 70px;
}

.our_team_description {
  padding-top: 50px;
  position: absolute;
  padding-left: 700px;
}

.our_team_photos {
  display: flex;
  padding-left: 700px;
  position: absolute;
}

.vladimir, .maksim, .sergey, .alexander, .dmitriy {
  position: relative;
  margin-top: 510px;
  margin-right: 21px;
  border-radius: 15px;
}

.worker_name {
  padding-left: 12px;
  font-size: 20px;  
}

.big_photo {
  padding-top: 50px;
  position: absolute;
  padding-left: 200px;
  
}

.block_7_big_img, .block_7_small_img {
  border-radius: 20px;
}

.block_7_small_img:hover {
  border: 3px solid green;
}